body{
    margin:0;
    font-family:Arial;
    background: linear-gradient(135deg,#0f172a,#1e293b,#0f172a);
    color:white;
}

.container{
    max-width:1100px;
    margin:auto;
    padding:20px;
}

h1{
    text-align:center;
    color:#38bdf8;
    text-shadow:0 0 10px #38bdf8;
}

.subtitle{
    text-align:center;
    color:#94a3b8;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
    margin-top:20px;
}

.card{
    background:rgba(255,255,255,0.05);
    padding:20px;
    border-radius:15px;
    text-align:center;
    transition:0.3s;
    border:1px solid rgba(56,189,248,0.2);
}

.card:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px #38bdf8;
}